---
layout: default
nav_items: [home, about, stats, posts, feedback, registers]
bodyClass: concepts
---
<header>
  <p class="section-title">
    <a href="/domains">Subject areas</a>
  </p>

  <h1>{{ page.domain_title }}</h1>

  <div class="meta">
    <p>
      The concepts below are sorted by term name, alphabetically, in a case-insensitive way.
    </p>
  </div>
</header>

{% for subdomain in page.subdomains %}
  {% assign section_prefix = page.domain_id | append: "-" | append: subdomain.subdomain_id | append: "-" %}
  <h2>{{ subdomain.title }}</h2>

  {% assign sorted_concepts = site.concepts | where_exp: "c", "c.termid contains section_prefix" | sort: "termid_sort" %}
  {% include concepts-list.html concepts=sorted_concepts %}
{% endfor %}
